|Nama|Zulfa Sulthany Almawahib|
|----|------------------------|
|NRP |152020096|

# **Modul 1 Pandas**

## **Contoh 1.1: Tipe data Pandas Series**

In [ ]:
import pandas as pd # library pandas disingkat menjadi pd

data = [1, 7, 2] # memberikan nilai data dengan nilai 1, 7, 2
print(data) # mencetak isi data, yaitu [1, 7, 2]
print(type(data)) # mencetak informasi tentang type data yang digunakan oleh variable data

my_series = pd.Series(data) # membuat variabel baru untuk membuat array berlabel dengan 1 dimensional untuk variabel data
print(type(my_series)) # mencetak informasi tentang tipe data yang dimiliki oleh variable my_series
print(my_series.dtype) # mencetak tipe data yang dimiliki oleh data Series
print(my_series[0]) # mengambil element my_series untuk indeks ke 0 yaitu 1
print(my_series[2]) # mengambil element my_series untuk indeks ke 2 yaitu 2
print(my_series[1]) # mengambil element my_series untuk indeks ke 1 yaitu 7
print('Data Series')
print(my_series) # menampilkan my_series

[1, 7, 2]
<class 'list'>
<class 'pandas.core.series.Series'>
int64
1
2
7
Data Series
0    1
1    7
2    2
dtype: int64

## **Contoh 1.2: Pandas Series dari Array**

In [ ]:
import pandas as pd # library pandas disingkat menjadi pd
import numpy as np # library numpy disingkat menjadi np

data = np.array(['python', 'java', 'php']) # memasukan nilai data dengan menggunakan np.array() yang nilainya adalah ‘python’, ‘java’, dan ‘php’
print(data) # mencetak variabel data di atas
series = pd.Series(data) # mengkonversi data dengan tipe data array menjadi data series menggunakan pandas Series
print(series) # mencetak variabel series

['python' 'java' 'php']
0    python
1      java
2       php
dtype: object

## **Contoh 1.3: Pandas Series dari array dengan pemberian label**

In [ ]:
import pandas as pd # library pandas disingkat menjadi pd
import numpy as np # library numpy disingkat menjadi np

data = np.array(['python', 'java', 'php']) # memasukan nilai data dengan menggunakan np.array() yang nilainya adalah ‘python’, ‘java’, dan ‘php’
s2 = pd.Series(data=data, index=['r1', 'r2', 'r3']) # proses konversi data array ke Series dengan nilai indeks tertentu, yaitu ‘r1’, ‘r2’, dan ‘r3’
print(s2) # mencetak variabel s2

r1    python
r2      java
r3       php
dtype: object

## **Contoh 1.4: Pandas Series dari list**

In [7]:
import pandas as pd # library pandas disingkat menjadi pd

data = ['Pandas', 250000, '30 hari'] # mendaftarkan nilai untuk isi dari variabel data 
s2 = pd.Series(data=data, index=['r1', 'r2', 'r3']) # mengkonversi data list ke dalam Series dengan nilai indeks yang telah ditentukan
print(s2) # mencetak data s2

r1     Pandas
r2     250000
r3    30 hari
dtype: object

## **Contoh 1.5: Pandas Series dari dict**

In [8]:
import pandas as pd # library pandas disingkat menjadi pd

data = {'kursus': 'Pandas', 'biaya':200000, 'lama': '30 hari'} # mendaftarkan pasangan key dan value dict pada data
s2 = pd.Series(data=data) # mengkonversi data dict kedalam bentuk Series
print(s2) #menampilkan hasil dict yang telah di konversi ke series

kursus     Pandas
biaya      200000
lama      30 hari
dtype: object

## **Contoh 1.6: Pandas Series berdasarkan key tertentu dict**

In [10]:
import pandas as pd # library pandas disingkat menjadi pd

data = {'kursus': 'Pandas', 'biaya':200000, 'lama': '30 hari'}
s = pd.Series(data=data, index = ['kursus', 'biaya'])
print(s)
print('Data ke-0 adalah ', s[0])
print('Data ke-1 adalah ', s[1])

kursus    Pandas
biaya     200000
dtype: object
Data ke-0 adalah  Pandas
Data ke-1 adalah  200000

## **Contoh 1.7: Pandas Series dari DataFrame**

In [12]:
import pandas as pd # library pandas disingkat menjadi pd

df = pd.DataFrame({
    'nama' : ['Amir', 'Rudi', 'Andon', 'Wahyu'],
    'umur' : [23, 21, 24, 21]
})
print(df)
s = df['nama'].squeeze()
print('Data Series Nama')
print(s)

    nama  umur
0   Amir    23
1   Rudi    21
2  Andon    24
3  Wahyu    21
Data Series Nama
0     Amir
1     Rudi
2    Andon
3    Wahyu
Name: nama, dtype: object

## **Contoh 1.8: Pembentukan DataFrame dari satu data Series**

In [14]:
import pandas as pd # library pandas disingkat menjadi pd

kursus = pd.Series(['Java', 'PHP', 'Python', 'Dart'], name='nama kursus')
df = pd.DataFrame(kursus)
print(df)

  nama kursus
0        Java
1         PHP
2      Python
3        Dart

## **Contoh 1.9: Pembentukan DataFrame dari kumpulan data Series**

In [15]:
import pandas as pd # library pandas disingkat menjadi pd

kursus = pd.Series(['Java', 'PHP', 'Python', 'Dart'], name='nama kursus')
biaya = pd.Series([250000, 300000, 150000, 350000], name='biaya')
lama = pd.Series(['2 jam', "3 jam", '4 jam', '5 jam'], name='lama_waktu')
df = pd.concat([kursus, lama, biaya], axis=1)
print(df)

  nama kursus lama_waktu   biaya
0        Java      2 jam  250000
1         PHP      3 jam  300000
2      Python      4 jam  150000
3        Dart      5 jam  350000

# **Tabel 1.1**
|no|Method|Keterangan|
|--|----------------|--------------------------------------------|
|1|abs()|Mengembalikan nilai absolut untuk setiap elemen numerik|
|2|add()|Mengembalikan hasil penjumlahan data series pertama dengan data series kedua|
|3|append()|Menggabungkan data series pertama dengan data series ke dua|
|4|argmax()|Mengembalikan index data series dengan nilai maksimum pertama|
|5|argmin()|Mengembalikan index data series dengan nilai minimum pertama|
|6|argsort()|Mengembalikan index data series yang nilai datanya telah diurutkan dari terkecil ke terbesar|
|7|copy()|Melakukan copy data series|
|8|count()|Mengembalikan jumlah data series yang tidak memiliki null|
|9|cov()|Menghitung nilai covariance dari dua data series|
|10|div()|Mengembalikan hasil bagi data series pertama dengan data series kedua|
|11|dot()|Mengembalikan hasil perkalian titik antara dua data series|
|12|drop(labels = [‘index’])|Menghapus elemen data series pada label ‘index’ tertentu|
|13|drop_duplicates()|Menghapus setiap elemen data series yang ganda atau ganda|
|14|dropna()|Mengembalikan data series yang telah dihapus atau dibuang data yang mengandung missing value|
|15|duplicated()|Menentukan apakah nilai elemen suatu data series ada yang nilainya sama yang dikembalikan dalam nilai boolean|
|16|idmax()|Mengembalikan index data series yang mengandung nilai maksimum pertama|
|17|idmin()|Mengembalikan index data series yang mengandung nilai minimum pertama|
|18|isin([val])|Mengembalikan nilai Boolean kesamaan nilai setiap data series|
|19|isna()|Menentukan atau menguji apakah nilai suatu data series mengandung suatu nilai missing value. Jika nilai missing value akan mengembalikan nilai True.|
|20|isnull()|Menentukan atau menguji apakah nilainya suatu nilai missing value|
|21|max()|Mengembalikan nilai maksimum dari data series|
|22|mean()|Menghitung nilai rata-rata data series dan dikembalikan dalam tipe data float|
|23|median()|Mengembalikan nilai tengah data series setelah datanya diurutkan mulai terkecil ke terbesar|
|24|min()|Mengembalikan nilai minimum dari data series|
|25|mod()|Mengembalikan hasil sisa bagi dari data series pertama dengan data series kedua|
|26|mul()|Mengembalikan hasil kali data series pertama dengan data series kedua|
|27|notna()|Mengembalikan nilai Boolean tidak adanya nilai data series yang memiliki missing value. Method memberikan nilai true jika nilai data series bukan null.|
|28|nunique()|Mengembalikan banyaknya bilangan unik.|
|29|pop(item=’index’)|Mengembalikan elemen pada index ke ‘index’ kemudian mengeluarkan elemen ke ‘index’ dari data series|
|30|pow()|Mengembalikan hasil pangkat dari data series pertama dengan data series kedua|
|31|replace(x, val)|Menggantikan data series ke-x dengan nilai val|
|32|sort_values()|Mengurutkan elemen data series dengan default nilai menaik. Untuk nilai menurun menggunakan parameter ascending = False|
|33|std()|Menghitung nilai standar deviasi dari suatu data series|
|34|sub()|Mengembalikan hasil selisi data series pertama dengan data series kedua|
|35|sum()|Menghitung jumlah totak data|
|36|to_dict()|Mengkonversi data series kedalam bentuk dict|
|37|tolist()|Mengkonversi data series kedalam bentuk list|

# **Contoh Program Sederhana dari tabel 1.1**

In [18]:
import pandas as pd

df = pd.DataFrame({'A': [-1, 2, -3], 'B': [4, -5, 6]})
df_abs = abs(df)
print(df_abs)

   A  B
0  1  4
1  2  5
2  3  6

In [16]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.add(df2)
print(df3)

   A   B
0  6  10
1  8  12

In [17]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.append(df2)
print(df3)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

C:\Users\Sulthany\AppData\Local\Temp\ipykernel_14116\2705247620.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df1.append(df2)

In [21]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.argmax())
print(s.argmin())

4
0

In [23]:
import pandas as pd

s = pd.Series([3, 1, 4, 2, 5])
print(s.argsort())

0    1
1    3
2    0
3    2
4    4
dtype: int64

In [24]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = df1.copy()
print(df2)

   A  B
0  1  3
1  2  4

In [25]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, None], 'B': [3, None, None], 'C': [4, 5, 6]})
print(df.count())

A    2
B    1
C    3
dtype: int64

In [26]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.cov())

     A    B
A  1.0  1.0
B  1.0  1.0

In [29]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.div(df2)
print(df3)

          A         B
0  0.200000  0.428571
1  0.333333  0.500000

In [28]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = df1.dot(df2.T)
print(result)

    0   1
0  26  30
1  38  44

In [30]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})
df2 = df.drop(labels=['A'], axis=1)
print(df2)

   B  C
0  3  5
1  4  6

In [31]:
import pandas as pd

df = pd.DataFrame({'A': [1, 1, 2, 2], 'B': [3, 4, 4, 5]})
df2 = df.drop_duplicates()
print(df2)

   A  B
0  1  3
1  1  4
2  2  4
3  2  5

In [32]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 2], 'B': [None, 3, 4], 'C': [5, 6, 7]})
df2 = df.dropna()
print(df2)

     A    B  C
2  2.0  4.0  7

In [33]:
import pandas as pd

df = pd.DataFrame({'A': [1, 1, 2, 3], 'B': [4, 5, 6, 6]})
duplicates = df.duplicated()
print(duplicates)

0    False
1    False
2    False
3    False
dtype: bool

In [35]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.idxmax())
print(s.idxmin())

4
0

In [36]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.isin([2, 4, 6]))

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [37]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 2], 'B': [None, 3, 4], 'C': [5, 6, None]})
print(df.isna())
print(df.isnull())

       A      B      C
0  False   True  False
1   True  False  False
2  False  False   True
       A      B      C
0  False   True  False
1   True  False  False
2  False  False   True

In [38]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.max())
print(s.min())

5
1

In [39]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.mean())
print(s.median())

3.0
3.0

In [40]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.mod(df2)
print(df3)

   A  B
0  1  3
1  2  4

In [41]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.mul(df2)
print(df3)

    A   B
0   5  21
1  12  32

In [42]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 2], 'B': [None, 3, 4], 'C': [5, 6, None]})
print(df.notna())

       A      B      C
0   True  False   True
1  False   True   True
2   True   True  False

In [43]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5, 5])
print(s.nunique())

5

In [44]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
col = df.pop('A')
print(col)

0    1
1    2
Name: A, dtype: int64

In [45]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.pow(df2)
print(df3)

    A      B
0   1   2187
1  64  65536

In [46]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})
df2 = df.replace(2, 20)
print(df2)

    A  B
0   1  5
1  20  6
2   3  7
3   4  8

In [47]:
import pandas as pd

df = pd.DataFrame({'A': [3, 1, 2], 'B': [5, 6, 4]})
df2 = df.sort_values(by=['A'])
print(df2)

   A  B
1  1  6
2  2  4
0  3  5

In [48]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.std())

1.5811388300841898

In [49]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = df1.sub(df2)
print(df3)

   A  B
0 -4 -4
1 -4 -4

In [50]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s.sum())

15

In [51]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
d = df.to_dict()
print(d)

{'A': {0: 1, 1: 2, 2: 3}, 'B': {0: 4, 1: 5, 2: 6}}

In [52]:
import pandas as pd

s = pd.Series([1, 2, 3])
l = s.tolist()
print(l)

[1, 2, 3]